<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/logo.jpeg"  height="80"  alt="">      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row *ngIf="!tareas">
      <ion-col>Nada que mostrar</ion-col>
    </ion-row>
    <ion-row *ngIf="tareas">
      <ion-col>
        <h4 style="text-align: center;">Pendientes</h4>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="tareas">
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let data of tareas" style="text-align: center;">
            <ion-label>{{data.title}} || {{data.fecha | date:'shortDate'}} || {{data.materia}} </ion-label>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button ><ion-icon name="document-text-outline"></ion-icon></ion-fab-button>
      <ion-fab-button [routerLink]="['/addtarea']" ><ion-icon name="documents-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  
</ion-content>
