<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="!materias">
    <ion-col style="text-align: center; padding-top: 10em;">
      <h3>No tienes ninguna materia agregada</h3>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="materias">
    <ion-col>
     <ion-list>
     
      <ion-row *ngFor="let data of materias">        
        <ion-col size="8">
          <ion-label>
            <h2>{{data.name}}</h2>
            <h2>{{data.profesor}}</h2>
            
          </ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-label (click)="editarMateria(data)">
            <ion-icon name="pencil-outline" style="padding:1.2em"></ion-icon>
          </ion-label>
        </ion-col>

        <ion-col size="2">
          <ion-label (click)="alertDelete(data.id)" >
            <ion-icon name="trash-outline" style="padding:1.2em"></ion-icon>
          </ion-label>
        </ion-col>
      </ion-row>
     </ion-list>
    </ion-col>
  </ion-row>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/addmateria']" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
