<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="!materias">
    <ion-col style="text-align: center; padding-top: 10em;">
      <h3>No tienes ninguna materia agregada</h3>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="materias">
    <ion-col>
     <ion-list>
     
      <ion-item *ngFor="let data of materias">        
        <ion-label>
          <h2>{{data.name}}</h2>
          <h2>{{data.profesor}}</h2>
        </ion-label>
      </ion-item>
     </ion-list>
    </ion-col>
  </ion-row>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/addmateria']" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
